<table class="u-full-width">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Organization</th>
    </tr>
  </thead>
  <tbody>
    <% @bills.each do |bill| %>
      <tr>
        <td><%= bill.name %></td>
        <td><%= bill.due_date %></td>
      </tr>
    <% end %>
  </tbody>
</table>
